/* fontes */
@font-face {
    font-family: 'Outfit';
    src: url('Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Outfit Regular';
    src: url('Outfit-Regular.ttf');
}

@font-face {
    font-family: 'Outfit Bold';
    src: url('Outfit-Bold.ttf');
}

@font-face {
    font-family: 'Outfit Light';
    src: url('Outfit-Light.ttf');
}

/* Estilo da página */
*{
    font-family: sans-serif;
}

body{
    background-color: hsl(217, 54%, 11%)
}

.card{
    background-color: hsl(216, 50%, 16%);
    width: 20em;
    height: 33em;
    border: solid red 3px;
    border-radius: 1.2em;
}

.card__img{
    max-width: 85%;
    margin: 1.5em 0 0 1.5em;
    border-radius: 0.6em;
    cursor:pointer;
}

.card__img:hover{
    box-shadow: hsl(178, 100%, 50%);
}

.card__h1{
    font-family: Outfit-Bold, sans-serif;
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    margin: 1.2em 1.5em;
    cursor: pointer;
}

.card__paragraph{
    color: hsl(215, 51%, 70%);
    font-weight: lighter;
    margin: 1.2em 1.5em;
}  

.container__span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.span__eth{
    color: hsl(178, 51%, 40%);
}

.span__days{
    color:hsl(215, 51%, 70%)
}

.card__avatar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 1em 0 2em 0;
    color: hsl(0, 0%, 100%)
}

.avatar__picture{
    max-width: 2em;
    border: solid hsl(0, 0%, 100%) 2px;
    border-radius: 5em;
}

.span__avatar{
    color:hsl(215, 51%, 70%)
}

a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    cursor: pointer;
}



