/* fontes */
@font-face {
    font-family: 'Outfit';
    src: url('Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Outfit Regular';
    src: url('Outfit-Regular.ttf');
}

@font-face {
    font-family: 'Outfit Bold';
    src: url('Outfit-Bold.ttf');
}

@font-face {
    font-family: 'Outfit Light';
    src: url('Outfit-Light.ttf');
}

/* Estilo da página */
*{
    font-family: sans-serif;
}

body{
    background-color: hsl(217, 54%, 11%)
}

.card{
    background-color: hsl(216, 50%, 16%);
    width: 20em;
    height: 35em;
    border: solid red 3px;
    border-radius: 1.2em;
}

.card__img{
    max-width: 85%;
    margin: 1.5em 0 0 1.5em;
    /* border: solid transparent; */
    border-radius: 0.6em;
}

.card__h1{
    font-family: Outfit-Bold, sans-serif;
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    margin: 1.2em 1.5em;
}

.card__paragraph{
    color: hsl(0, 0%, 100%);
    font-weight: lighter;
    margin: 1.2em 1.5em;
}  

.container__span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.card__avatar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.avatar__picture{
    max-width: 2em;
    /* background-color: hsl(0, 0%, 100%); */
    border: solid hsl(0, 0%, 100%) 2px;
    border-radius: 5em;

}

